@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 88.3%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #41A8B7;
  --para-color: #B3ACAA;;
  --heading-color: #222828;
  --white: #fff;
  --black: #000;
}
/*=================================
  Header styling starts here
=================================*/
header {
  background-color: var(--primary-color);
}

header .wrapper {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 1.3%;
}

.hamburger {
  display: none;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  display: block;
  background-color: var(--white);
  text-indent: -9999px;
  transition: all 0.3s;
}

nav.navbar {
  flex: 0 0 46.2%;
}

.nav-link {
  padding: 10px 22px;
  position: relative;
  color: var(--white);
  font-size: 14px;
  transition: all .3s ease-in-out;
}

.nav-link.active::before,
.nav-link:hover::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: var(--white);
  position: absolute;
  top: 4px;
  left: 22px;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* home page banner start here */
.banner-slide { position: relative;}
.banner-item {
  position: relative;
}

.banner-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 19.4%;
  left: 34.4%;
}

.banner-span {
  color: var(--white);
  font-size: 19px;
  font-weight: 500;
}

.banner-heading {
  margin-top: 11px;
  color: var(--white);
  font-size: 46px;
  font-weight: 700;
}

.banner-btn {
  margin-top: 21px;
}

.go-btn {
  padding: 11px 28px;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all .3s ease-in-out;
}

.go-btn:hover {
  border-color: var(--white);
  color: var(--white);
}

.banner-item {
  display: none;
}

.banner-item:nth-child(1){
  display: block;
}

.counter-part {
  width: 88.8%;
  padding: 31px 0;
  border-radius: 60px;
  margin: 32px 0 0 5.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 0;
  background: var(--white);
}

.counter-list {
  display: flex;
  flex-basis: 83%;
}

.counter-item { 
  padding: 0 7.8%;
  position: relative;
 }

 .counter-item:nth-child(1) {
  padding: 0 12.8%;
}

.counter-item:nth-child(2){
  padding:  0 7.5%;
}

.counter-item:nth-child(3){
  padding:  0 9.7%;
}

.counter-heading {
  color: #ACB3B6;
  font-size: 13px;
  font-weight: 500;
}

.counter-Num{
  color: var(--primary-color);
  font-size: 19px;
  font-weight: 700;
}

.counter-item::before {
  width: 52px;
  height: 52px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  position: absolute;
  top: -1px;
  left: 0%;
  color: var(--primary-color);
  font-family: "FontAwesome";
  font-size: 23px;
}

.user::before {
  content: "\f007";
  left: 16%;
}

.world::before{
  content:"\f0ac";
}

.home::before{
  content: "\f015";
  left: 8%;
}

.explore {
  padding: 12px 26px;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  background: var(--primary-color);
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  transition: all .3s ease-in-out;
}

.explore:hover, .data-link:hover{
  border: 1px solid var(--primary-color);
  background-color: var(--white);
  color: var(--primary-color);
}

.banner-control {
  position: absolute;
  bottom: 18px;
  left: 50%;
}

.counter.control {
  flex-basis: 16.7%;
}
/* home page banner start here */
/* home page visit country section start here */
.visit-Country .wrapper {
  padding: 64px 0 100px 0;
  position: relative;
}

.visit-heading {
  padding-bottom: 14px;
  color: #28282A;
  font-size: 27px;
  font-weight: 800;
}

.visit-description {
  width: 36.6%;
  color: var(--para-color);
  font-size: 13px;
  line-height: 25px;
}

.visit-wrap {
  padding: 63px 0;
  display: flex;
  justify-content: space-between;
}

.country-list {
  margin-bottom: 31px;
  display: flex;
  flex-basis: 66.7%;
  flex-direction: column;
}

.mapouter {
  flex-basis: 28.9%;
}

iframe.gmap-iframe {
  width: 353px;
  height: 505px;
  border-radius: 25px;
}

.country-item {
  padding-bottom: 26px;
  border-bottom: 1px solid #f7f7f7;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.country-item:nth-child(3){
  border: none;
}
.country-fig {
  max-width: 246px;
  flex: 0 0 31%;
}

.country-fig img {
  border-radius: 20px;
}


.country-content {
  flex-basis: 66%;
}

.country-data {
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data-heading {
  padding-bottom: 4px;
  color: #111212;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.data-sub-heading, .data-description {
  color: var(--para-color);
  font-size: 14px;
}

.data-link {
  padding: 10px 5.9%;
  border: 1px solid var(--primary-color);
  border-radius: 45px;
  display: flex;
  align-items: center;
  background: var(--primary-color);
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  transition: all .3s ease-in-out;
}

.people-data {
  padding: 15px 0;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  margin: 22px 0 17px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.people-list {
  position: relative;
  color: var(--para-color);
  font-size: 13px;
} 

.people-list:nth-child(1){
  margin: 0 3.5%;
}

.people-list:nth-child(2){
  margin-right: 9.4%;
 }

.people-list:nth-child(3){
 margin-right: 4.5%;
}

.people-list::before {
  position: absolute;
  top: 3px;
  left: -19px;
  color: var(--para-color);
  font-family: "fontAwesome";
}

.data-description a {
  color: var(--primary-color);
  transition: all .3s ease-in-out;
}

.data-description a:hover {
  color: var(--black);
}

.direction-link {
  position: relative;
  color: var(--primary-color);
  font-size: 13px;
  transition: all .3s ease-in-out;
}

.direction-link:hover{
  color: var(--black);
}

.direction-link::before {
  content: "\f061";
  position: absolute;
  top: 3px;
  right: -17px;
  font-family: "FontAwesome";
}

.btn-ctrl {
  position: absolute;
  bottom: 110px;
  left: 25.8%;
  cursor: pointer;
}

.btn-ctrl::before,.btn-ctrl::after {
  content: "\f061";
  font-family: "FontAwesome";
  float: left;
  position: inherit;
  top: 13px;
  color: var(--primary-color);
  transition: all .3s ease-in-out;
}

.btn-ctrl::after{
  content: "\f060";
  float: right;
  left: -33px;
}

.btn-ctrl::before {
  right: -38px;
}

.page-btn {
  width: 42px;
  height: 42px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  margin-left: 10px;
  background: var(--white);
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
}

.page-btn.active {
  background-color: var(--primary-color);
  color: var(--white);
}
/* home page visit country section end here */
/* home page book section start here */
.book-section {
  padding: 72px 0 62px 0;
  background: url(../images/cta-bg.jpg) no-repeat center;
  background-size: cover;
}

.book-section .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.book-content {
  flex-basis: 48%;
}

.book-btn {
  flex-basis: 14%;
}

.book-heading {
  color: var(--white);
  font-size: 37px;
  font-weight: 700;
  text-transform: uppercase;
}

.book-reserve {
  color: var(--white);
  font-size: 19px;
  font-weight: 700;
}

.reserve-btn {
  padding: 10px 25px;
  border: 1px solid;
  border-radius: 45px;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  transition: all .3s ease-in-out;
}

.reserve-btn:hover {
  color: var(--black);
}
/* home page book section end here */
/* scroll too up start here */
.container {
  position: relative;
}

.scroll-up {
  position:absolute;
  bottom: 0;
  right: 3%;
}

.scroll-too {
  text-indent: -9999px;
  display: none;
}

.scroll-too.show { display: block; }

.scroll-too::before {
  content: "\f077";
  width: 35px;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  background: var(--other);
  box-shadow: 1px 1px 8px #6e6868;
  color: var(--black);
  font-size: 20px;
  font-family: "FontAwesome";
  transform: translate(-50%, -50%);
  text-indent: 0;
  transition: all .5s ease-in-out;
}
/* scroll too up end here */
/* home page end here */

/* reserve page start here */
/* reserve banner start here */
.reserve-banner {
  padding: 163px 0 173px 0;
  background: url(../images/heading-bg-02.jpg) no-repeat center;
  background-size: cover;
}

.reserve-banner .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.prefered {
  padding-bottom: 11px;
  position: relative;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.prefered::after{
  content: "";
  width: 87px;
  height: 2px;
  display: block;
  position: absolute;
  top: 44px;
  left: 59px;
  background: #514F50;
}

.heading {
  margin-top: 18px;
  color: var(--white);
  font-size: 44px;
  font-weight: 700;
}

.para{
  width: 66%;
  color: var(--white);
  font-size: 13px;
  line-height: 25px;
}

.para span {
  display: block;
  text-align: center;
}


.discover-ctrl {
  padding-top: 27px;
}

.discover-btn {
  padding: 10px 27px;
  border: 1px solid var(--white);
  border-radius: 45px;
  background: var(--white);
  color: var(--primary-color);
  font-size: 13px;
  font-weight: 600;
  transition: all .3s ease-in-out;
}

.discover-btn:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
}
/* reserve banner end here */
/* setting wrapper with as per template for reserve page */
.reserve-banner .wrapper , .connect .wrapper , .contact-form .wrapper {
  width: 84.5%;
}
/* connect section start here */
.connect {
  padding-bottom: 197px;
  position: relative;
  background-color: #232223;
}

.connect-list {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -84px;
  width: 85%;
}

.connect-item {
  padding: 63px 0 28px 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 0 0 32.2%;
  position: relative;
  background-color: var(--white);
}

.connect-span {
  padding: 30px 0 7px 0;
  color: #282828;
  font-size: 18px;
  font-weight: 700;
}

.connect-item a,
.connect-item address {
  color: var(--primary-color);
  font-size: 14px;
}

.connect-item a{
  transition: all .3s ease-in-out;
}

.connect-item a:hover {
  color: var(--black);
}
.connect-item::before {
  width: 50px;
  height: 50px;
  border: 1px solid #E2E2E2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  position: absolute;
  top: 27px;
  left: 43%;
  background: #E2E2E2;
  color: var(--primary-color);
  font-family: "FontAwesome";
}

.call::before {
  content: "\f095";
}

.email::before {
  content: "\f0e0";
}

.address::before {
  content: "\f041";
}
/* connect section end here */
/* contact form section star here*/
.contact-form {
  padding-bottom: 108px;
  background-color: #232223;
}
iframe.gmap_iframe {
  width: 100%;
  height: 393px;
  border-radius: 20px 20px 0 0;
}

.form-container {
  background: #f9f9f9;
  border-radius: 20px;
}
.my-form { 
  width: 100%;
  padding:  50px 8.4% 53px 8.4%;
 }

 .form-heading {
  margin-bottom: 38px;
  text-align: center;
  font-size: 26px;
  font-weight: 800;
}

.form-span {
  color: var(--primary-color);
}

.input-group{
  margin-bottom: 26px;
  display: flex;
  justify-content: space-around;
}

.input-text {
  margin-bottom: 24px;
}
.input-content {
  flex-basis: 47.8%;
}

.input , select, .sub-btn { 
  width: 100%;
  border: 1px solid #e9e9e9;
  outline: none;
  padding: 10px 2.8%;
  font-size: 16px;
  border-radius: 30px;
}

label {
  font-size: 14px;
  color: #B9B3B0;
}

select {
  position: relative;
  appearance: none;
}

.input-destination , .creat-down {
  position: relative;
}


.input-destination::before,
.creat-down::before {
  content: "\f078";
  position: absolute;
  z-index: 1;
  top: 37px;
  right: 12px;
  color: var(--black);
  font-family: "FontAwesome";
  font-size: 12px;
}

.sub-btn {
  background: var(--primary-color);
  color: var(--white);
  font-size: 15px;
  transition: all .3s ease-in-out;
}

.sub-btn:hover{
  color: var(--primary-color);
  background-color:var(--white);
  border-color: var(--primary-color);
}
/* reserve form section end here */
/* reserve banner page end here */

/* about page start here */
/* banner start here */
.banner{
  padding: 112px 0 176px 0;
  background: url(../images/about-content-bg.jpg) no-repeat center;
  background-position:center;
  background-size: cover;
}
/* setting wrapper for about page as per template */
.banner .wrapper ,.cities .wrapper , .offer .wrapper , .discover .wrapper ,
.location .wrapper, .about-wrap .wrapper {
  width: 84.3%;
  padding: 100px 0 106px 0;
}

.banner .wrapper {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
}

.banner .heading {
  padding-bottom: 18px;
}

.banner .para {
  width: 62%;
  text-align: center;
}

.banner .prefered {
  font-weight: 600;
  text-transform: uppercase;
}

.banner .prefered::after {
  background-color: #919AA9;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer{
  padding: 24px 0 23px 0;
  background-color: #46B3C2;
}

.copy, .copy-link{
  color: var(--white);
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.copy-link{ 
  display: block;
  transition: all .3s ease-in-out;
 }

 .copy-link:hover {
  color: var(--black);
 }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  